#left{
	width:62%;
	float:left;
	border-right: black 2px;
}

#Featured{
	color: #ccc;
	font-size: 50px;
	font-family: 'freight-sans-pro';

}

#headline{
	
}
/*created right and dcreated margins and border line*/
#right {
	width: 37%;
	float: left;
	border-left: black 2px solid

}